# **АНАЛІЗ ДАНИХ**

## Встановлення потрібних бібліотек

In [1]:
import pandas as pd
import numpy as np

from IPython.display import HTML

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

## Зчитування та аналіз набору даних

In [87]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.40,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.20,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.00,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.90,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [4]:
df.shape

(958524, 45)

In [6]:
print('columns count - ',len(df.columns), '\n')
print('columns: ',list(df.columns))

columns count -  45

columns:  ['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H', 'diameter', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch', 'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld', 'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w', 'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class', 'rms']

| #  | Column            | Description                                                                                               |
|----|--------------------|-----------------------------------------------------------------------------------------------------------|
| 1  | **id**            | Унікальний ідентифікатор об’єкта.                                                                         |
| 2  | **spkid**         | Числовий ідентифікатор об’єкта в базі даних NASA.                                                         |
| 3  | **full_name**     | Повна назва об’єкта, яка часто містить його номер і рік відкриття.                                        |
| 4  | **pdes**          | Первинне позначення об'єкта, що зазвичай включає рік відкриття та додаткові символи.                      |
| 5  | **name**          | Офіційне ім'я об'єкта, якщо воно присвоєне.                                                               |
| 6  | **prefix**        | Префікс, що позначає особливості відкриття, часто порожній.                                               |
| 7  | **neo**           | Ознака, чи є об'єкт "near-Earth object" (NEO).                                                            |
| 8  | **pha**           | Ознака потенційної небезпеки (Potentially Hazardous Asteroid).                                            |
| 9  | **H**             | Абсолютна зоряна величина об'єкта (показує його яскравість).                                              |
| 10 | **diameter**      | Діаметр об'єкта в кілометрах.                                                                            |
| 11 | **albedo**        | Альбедо або відбивна здатність поверхні об'єкта.                                                          |
| 12 | **diameter_sigma**| Похибка діаметра.                                                                                        |
| 13 | **orbit_id**      | Ідентифікатор орбіти, що визначає поточний розрахунок орбіти.                                            |
| 14 | **epoch**         | Часовий параметр епохи, для якої обчислена орбіта.                                                       |
| 15 | **epoch_mjd**     | Епоха в модифікованих юліанських днях (Modified Julian Date).                                            |
| 16 | **epoch_cal**     | Епоха в календарній формі.                                                                               |
| 17 | **equinox**       | Рівнодення для обчислень орбіти.                                                                         |
| 18 | **e**             | Ексцентриситет орбіти, який показує, наскільки орбіта відрізняється від кола.                            |
| 19 | **a**             | Велика піввісь орбіти (в астрономічних одиницях, а.о.).                                                  |
| 20 | **q**             | Перигелій орбіти (найближча точка до Сонця).                                                             |
| 21 | **i**             | Нахил орбіти об’єкта відносно екліптики (в градусах).                                                   |
| 22 | **om**            | Довгота висхідного вузла, де орбіта перетинає екліптику.                                                |
| 23 | **w**             | Аргумент перигелію, який описує орієнтацію орбіти в площині.                                            |
| 24 | **ma**            | Середня аномалія, що визначає положення об'єкта на орбіті в певний момент.                               |
| 25 | **ad**            | Афелій орбіти (найдальша точка від Сонця).                                                               |
| 26 | **n**             | Середня швидкість руху об’єкта орбітою.                                                                 |
| 27 | **tp**            | Час проходження через перигелій.                                                                         |
| 28 | **tp_cal**        | Час проходження через перигелій у календарній формі.                                                    |
| 29 | **per**           | Орбітальний період (тривалість одного повного оберту навколо Сонця).                                     |
| 30 | **per_y**         | Орбітальний період у роках.                                                                             |
| 31 | **moid**          | Мінімальна відстань між орбітами Землі та об'єкта.                                                      |
| 32 | **moid_ld**       | Мінімальна відстань між орбітами об'єкта та Землі у відстанях до Місяця.                                 |
| 33 | **sigma_e**       | Стандартне відхилення ексцентриситету.                                                                   |
| 34 | **sigma_a**       | Стандартне відхилення великої піввісі.                                                                  |
| 35 | **sigma_q**       | Стандартне відхилення перигелію.                                                                        |
| 36 | **sigma_i**       | Стандартне відхилення нахилу орбіти.                                                                    |
| 37 | **sigma_om**      | Стандартне відхилення довготи висхідного вузла.                                                         |
| 38 | **sigma_w**       | Стандартне відхилення аргументу перигелію.                                                              |
| 39 | **sigma_ma**      | Стандартне відхилення середньої аномалії.                                                               |
| 40 | **sigma_ad**      | Стандартне відхилення афелію.                                                                           |
| 41 | **sigma_n**       | Стандартне відхилення середньої швидкості руху по орбіті.                                               |
| 42 | **sigma_tp**      | Стандартне відхилення часу проходження через перигелій.                                                 |
| 43 | **sigma_per**     | Стандартне відхилення орбітального періоду.                                                             |
| 44 | **class**         | Класифікація об’єкта за типом орбіти (наприклад, MBA — Main Belt Asteroid).                              |
| 45 | **rms**           | Середньоквадратичне відхилення у точності обчислень орбіти.                                             |

###  Зменшення розміру датасету до 2 000 записів

In [88]:
# 1. Вибір рядків без жодного пропуску, але ігноруючи стовпець 'prefix'
complete_rows = df.dropna(subset=[col for col in df.columns if col != 'prefix'])

# Вибір значної частини з повних рядків (наприклад, 1700 рядків)
# Якщо менше 1500 повних рядків, вибираємо доступну кількість
n_complete = min(1700, len(complete_rows))
sample_complete = complete_rows.sample(n=n_complete, random_state=42)

# 2. Вибір рядків з невеликою кількістю пропусків (до 5 пропусків у всьому рядку)
max_missing = 25  # Дозволяємо до 5 пропусків
almost_complete_rows = df[df.isnull().sum(axis=1) <= max_missing]

# Відфільтруємо рядки, які вже були обрані як повні, щоб уникнути повторень
almost_complete_rows = almost_complete_rows.drop(sample_complete.index, errors='ignore')

# Вибір додаткових рядків з пропусками
n_almost_complete = min(2000 - n_complete, len(almost_complete_rows))
sample_almost_complete = almost_complete_rows.sample(n=n_almost_complete, random_state=42)

# 3. Об’єднуємо дві вибірки, що містять 1700 повних і 300 майже повних рядків
final_sample = pd.concat([sample_complete, sample_almost_complete]).drop_duplicates()

# Збереження відібраних даних
final_sample.to_csv("filtered_dataset.csv", index=False)

In [89]:
print(df_reduced.shape)

(2000, 45)

In [90]:
df = final_sample

### Перевірка наявності пропущених даних

In [91]:
print("Any missing sample in training set:", df.isnull().values.any())

Any missing sample in training set: True

In [92]:
for col in df.columns:
    if df[col].isnull().values.any():
        print("Missing data in ", col)

Missing data in  name
Missing data in  prefix
Missing data in  pha
Missing data in  H
Missing data in  diameter
Missing data in  albedo
Missing data in  diameter_sigma
Missing data in  moid
Missing data in  sigma_e
Missing data in  sigma_a
Missing data in  sigma_q
Missing data in  sigma_i
Missing data in  sigma_om
Missing data in  sigma_w
Missing data in  sigma_ma
Missing data in  sigma_ad
Missing data in  sigma_n
Missing data in  sigma_tp
Missing data in  sigma_per

In [93]:
missing = list()
for x in final_sample.columns:
    if final_sample[x].isnull().sum() != 0:
        print(x, final_sample[x].isnull().sum())
        missing.append(x)

name 290
prefix 2000
pha 6
H 2
diameter 246
albedo 247
diameter_sigma 246
moid 6
sigma_e 6
sigma_a 6
sigma_q 6
sigma_i 6
sigma_om 6
sigma_w 6
sigma_ma 6
sigma_ad 6
sigma_n 6
sigma_tp 6
sigma_per 6

### Підрахунок унікальних значень у кожному стовпці

In [94]:
df.nunique()

id                2000
spkid             2000
full_name         2000
pdes              2000
name              1710
prefix               0
neo                  2
pha                  2
H                  172
diameter          1650
albedo             473
diameter_sigma     727
orbit_id           129
epoch               19
epoch_mjd           19
epoch_cal           19
equinox              1
e                 2000
a                 2000
q                 2000
i                 2000
om                2000
w                 2000
ma                2000
ad                2000
n                 2000
tp                2000
tp_cal            2000
per               2000
per_y             2000
moid              1983
moid_ld           1984
sigma_e           1947
sigma_a           1955
sigma_q           1920
sigma_i           1934
sigma_om          1977
sigma_w           1971
sigma_ma          1946
sigma_ad          1946
sigma_n           1839
sigma_tp          1972
sigma_per         1968
class               10
rms               1908
dtype: int64

### Описова статистика

In [95]:
df.describe()

,spkid,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,a,...,sigma_q,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,rms
count,2.000000e+03,1998.000000,1754.000000,1753.000000,1754.000000,2.000000e+03,2000.000000,2.000000e+03,2000.000000,2000.000000,...,1.994000e+03,1.994000e+03,1.994000e+03,1.994000e+03,1994.000000,1.994000e+03,1.994000e+03,1994.000000,1994.000000,2000.000000
mean,2.321909e+06,13.870700,13.211319,0.191187,0.464820,2.458968e+06,58967.971000,2.019965e+07,0.140176,2.746393,...,1.690119e-02,2.007996e-02,9.802875e-02,4.103544e+00,4.189846,1.295898e-02,1.527404e-03,15.448868,9.874329,0.498894
std,3.090022e+06,2.078454,26.001890,0.130692,1.237902,3.616132e+02,361.613208,1.001393e+04,0.072654,1.370858,...,4.438102e-01,4.271782e-01,2.252885e+00,1.354591e+02,131.343155,3.485460e-01,4.294787e-02,535.044306,266.530627,0.070549
min,2.000004e+06,3.000000,1.343000,0.019400,0.013000,2.452534e+06,52533.000000,2.002092e+07,0.001892,0.973945,...,1.928600e-09,2.170600e-07,3.880800e-07,1.789300e-07,0.000001,1.648600e-09,2.612500e-10,0.000004,0.000001,0.208880
25%,2.004726e+06,12.800000,3.791500,0.071700,0.129000,2.459000e+06,59000.000000,2.020053e+07,0.088248,2.357281,...,8.526250e-08,3.859350e-06,2.337125e-05,3.296925e-05,0.000013,9.334450e-09,1.323200e-09,0.000055,0.000007,0.453863
50%,2.012438e+06,14.000000,6.317500,0.175000,0.223000,2.459000e+06,59000.000000,2.020053e+07,0.133909,2.612568,...,1.055350e-07,4.383100e-06,3.969950e-05,5.077250e-05,0.000019,1.374050e-08,1.500600e-09,0.000083,0.000011,0.497195
75%,2.031296e+06,15.000000,11.897750,0.278000,0.436000,2.459000e+06,59000.000000,2.020053e+07,0.181444,3.005280,...,1.336000e-07,5.290400e-06,7.541550e-05,9.013525e-05,0.000033,2.030100e-08,1.869675e-09,0.000149,0.000017,0.535493
max,5.401596e+07,26.500000,525.400000,1.000000,40.100000,2.459000e+06,59000.000000,2.020053e+07,0.959998,52.966678,...,1.775600e+01,1.487400e+01,7.179700e+01,5.790200e+03,5456.800000,1.430100e+01,1.735700e+00,23429.000000,11064.000000,1.666600

### Опис типів значень

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 4718 to 576074
Data columns (total 45 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2000 non-null   object
 1   spkid           2000 non-null   int64
 2   full_name       2000 non-null   object
 3   pdes            2000 non-null   object
 4   name            1710 non-null   object
 5   prefix          0 non-null      object
 6   neo             2000 non-null   object
 7   pha             1994 non-null   object
 8   H               1998 non-null   float64
 9   diameter        1754 non-null   float64
 10  albedo          1753 non-null   float64
 11  diameter_sigma  1754 non-null   float64
 12  orbit_id        2000 non-null   object
 13  epoch           2000 non-null   float64
 14  epoch_mjd       2000 non-null   int64
 15  epoch_cal       2000 non-null   float64
 16  equinox         2000 non-null   object
 17  e               2000 non-null   float64
 18  a               2000 non-null   float64
 19  q               2000 non-null   float64
 20  i               2000 non-null   float64
 21  om              2000 non-null   float64
 22  w               2000 non-null   float64
 23  ma              2000 non-null   float64
 24  ad              2000 non-null   float64
 25  n               2000 non-null   float64
 26  tp              2000 non-null   float64
 27  tp_cal          2000 non-null   float64
 28  per             2000 non-null   float64
 29  per_y           2000 non-null   float64
 30  moid            1994 non-null   float64
 31  moid_ld         2000 non-null   float64
 32  sigma_e         1994 non-null   float64
 33  sigma_a         1994 non-null   float64
 34  sigma_q         1994 non-null   float64
 35  sigma_i         1994 non-null   float64
 36  sigma_om        1994 non-null   float64
 37  sigma_w         1994 non-null   float64
 38  sigma_ma        1994 non-null   float64
 39  sigma_ad        1994 non-null   float64
 40  sigma_n         1994 non-null   float64
 41  sigma_tp        1994 non-null   float64
 42  sigma_per       1994 non-null   float64
 43  class           2000 non-null   object
 44  rms             2000 non-null   float64
dtypes: float64(33), int64(2), object(10)
memory usage: 718.8+ KB